{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
 
{% block title %}
StreamLine | KANINI
{% endblock title %}
 
{% block style %}
 
<style>
    .chatBox input {
        background-color: #d4dbe1;
        height: 55px !important;
    }
    .chatBox input:focus {
        background-color: #d4dbe1;  
    }
    /* Upload Container Styling */
    .upload-container {
        border: 2px dashed #E4E7EC;
        border-radius: 8px;
        padding: 16px 24px 16px 24px;
        width: 100%;
        text-align: center;
        transition: border-color 0.3s;
        cursor: pointer;
    }
    .upload-container:hover {
        border-color: rgb(13, 110, 253);
    }
    .upload-icon {
        font-size: 2rem;
        color: rgb(13, 110, 253);
        cursor: pointer;
    }
    .upload-text {
        color: rgb(13, 110, 253);
        cursor: pointer;
        font-weight: 500;
    }
    .upload-note {
        color: #475467;
        font-size: 12px;
        margin-top: 8px;
    }
</style>
 
<script>
    $(document).ready(function(){
        $('#classification-feedback').hide();
 
        $('#send-chat-button').on('click', function(){
            var chatInput = $('#chat-input').val();
            var chatHistory = JSON.parse($('#chatHistory').val());
       
            if(chatInput){
                // Append loading message
                var loadingMessage = `<p id="loading-message" class="bg-success-subtle p-3 mt-5"><strong><i class="fas fa-robot"></i> AI:</strong> Loading...</p><br>`;
                $('#chat-section').before(`<p class="float-end bg-secondary-subtle p-3"><strong><i class="fas fa-user"></i> You:</strong> ${chatInput}</p><br>`);
                $('#chat-section').before(loadingMessage);
       
                $.ajax({
                    url: '/chat/',
                    type: 'POST',
                    data: {
                        'chatInput': chatInput,
                        'chatHistory': JSON.stringify(chatHistory)
                    },
                    success: function(response){
                        $('#chatHistory').val(JSON.stringify(response.history));
                        $('#chat-input').val('');
                        // Remove loading message and append the actual response
                        $('#loading-message').remove();
                        var answer = response.answer;
                        if (answer == ''){
                            answer = 'Sorry, I could not understand your question. Please try again.';
                        }
                        $('#chat-section').before(`<p class=" bg-success-subtle p-3 mt-5"><strong><i class="fas fa-robot"></i> AI:</strong> ${answer}</p><br>`);
                       
                    }
                });
            }
            else{
                alert('Please enter a question');
            }
        });
       
        $('#is_mis_classified').on('change', function() {
            if ($(this).val() === 'yes') {
                $('#classification-feedback').show();
            } else {
                $('#classification-feedback').hide();
            }
        });
 
        $('#submit-feedback').on('click', function() {
            var feedback = $('#docClassify_feedback').val();
            $.ajax({
                url: '/submit-feedback/',
                type: 'POST',
                data: {
                    'feedback': feedback,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    alert('Feedback submitted successfully!');
                },
                error: function(xhr, status, error) {
                    alert('An error occurred while submitting feedback.');
                }
            });
        });
 
    });
</script>
 
{% endblock style %}
 
{% block content %}
 
<div class="container-fluid">
   
    <div class="breadcrumbs my-2">
        <a href="/"><i class="bi bi-house"></i></a>
    </div>
   
    <div class="row my-3">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <!-- <h4 class="card-title text-center text-uppercase">StreamLine</h4> -->
                    <form action="/processDocument/" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 col-lg-6 col-md-6 offset-lg-3">
                                <!-- <div class="mb-3">
                                    <label for="upload_docs" class="form-label fw-bold">Upload Document <span class="text-danger">*</span></label>
                                    <input type="file" class="form-control" id="upload_docs" name="upload_docs" accept="application/pdf" required>
                                </div> -->
                                <div class="mb-0">
                                    <label for="" class="form-label fw-bold">Upload Document <span class="text-danger">*</span></label>
                                    <div class="upload-container">
                                        <label for="upload_docs">
                                            <div class="upload-icon mb-3">
                                                <i class="bi bi-cloud-upload"></i>
                                            </div>
                                            <label class="upload-text" for="">Click to upload</label> or drag and drop
                                            <div class="upload-note">only .pdf allowed</div>
                                        </label>
                                        <input type="file" class="visually-hidden" id="upload_docs" name="upload_docs" accept="application/pdf" required>
   
                                        <div id="fileName" class="file-name my-1 fw-bold"></div> <!-- File name will appear here -->
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 col-md-12 ">
                                <div class="mb-3 my-lg-2 my-md-2">
                                    <center>
                                        <button type="submit" class="btn btn-primary">Extract Document</button>
                                    </center>
                                   
                                </div>
                            </div>
                        </div>
                    </form>
 
                    <!-- Classification Output -->
                    {% if classificationResponse.predicted_class %}
                    <div id="classification-output-section">
                        <hr>
                        <!-- <div class="row">
                            <div class="col-12">
                                <h5>Document Type</h5>
                            </div>
                        </div> -->
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="mb-3">
                                        <!-- <label for="classification_output" class="form-label">Document Type</label> -->
                                        <h8><b>Document Name</b> : {{file_name}} </h8>
                                        <!-- <p class="text-primary fw-bold">{{file_name}}</p> -->
                                    </div>
                                </div>
                            <div class="row"></div>
                            <div class="col-12 col-lg-4">
                                <div class="mb-3">
                                    <!-- <label for="classification_output" class="form-label">Document Type</label> -->
                                    <h5>Document Type</h5>
                                    <h5 class="text-primary fw-bold">{{classificationResponse.predicted_class}}</h5>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="mb-3">
                                    <label for="classification_output" class="form-label">Is MisClassified?</label>
                                    <select class="form-select" name="is_mis_classified" id="is_mis_classified">
                                        <option value="no">No</option>
                                        <option value="yes">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="mb-3" id="classification-feedback">
                                    <label for="docClassify_feedback" class="form-label">Help to correct model</label>
                                    <select class="form-select" name="docClassify_feedback" id="docClassify_feedback">
                                        {% for label in doc_labels  %}
                                        <option value="{{label}}">{{label}}</option>
                                        {% endfor %}
                                    </select>
                                    <button id="submit-feedback" class="btn btn-primary mt-3">Submit Feedback</button>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                    {% endif %}
                   
                   
                    {% if summaryResponse %}
                    <!-- Entity, Summary & Document Preview Section -->
                    <div class="row my-3">
                        <hr>
                        <div class="col-12 col-lg-6 col-md-6">
                            <div id="enitity-summary-section">
                                <!-- Tabs navs -->
                                <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-tab-init class="nav-link active" id="enitity-tab-1" href="#enitity-tabs-1" role="tab"
                                            aria-controls="enitity-tabs-1" aria-selected="true">Entity</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-tab-init class="nav-link" id="summary-tab-2" href="#summary-tabs-2" role="tab" aria-controls="summary-tabs-2"
                                            aria-selected="false">Summary</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-tab-init class="nav-link" id="summary-tab-3" href="#summary-tabs-3" role="tab" aria-controls="summary-tabs-3"
                                            aria-selected="false">Product</a>
                                    </li>
                                   
                                </ul>
                                <!-- Tabs navs -->
                               
                                <!-- Tabs content -->
                                <div class="tab-content" id="enitity-content">
                                    <div class="tab-pane fade show active" id="enitity-tabs-1" role="tabpanel" aria-labelledby="enitity-tab-1" >
                                        {% if entities %}
                                            <h4 class="card-title">Entities</h4>
                                            <table class="table table-bordered" style="display:block; height: 40em !important; overflow-y:scroll">
                                                <thead>
                                                    <tr>
                                                        <th>Field</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for key, value in entities.items %}
                                                    <tr>
                                                        <td>{{ key|capfirst }}</td>
                                                        <td>
                                                            {% if value|is_dict %}
                                                                {% for sub_key, sub_value in value.items %}
                                                                    <strong>{{ sub_key|capfirst }}:</strong> {{ sub_value }}<br>
                                                                {% endfor %}
                                                            {% else %}
                                                                {{ value }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
 
                                            <!-- Chat Section -->
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 mt-4 chatBox">
                                                    <input type="hidden" id="chatHistory" value="[]">
                                                    <div class="input-group" id="chat-section">
                                                        <input type="text" class="form-control" id="chat-input" placeholder="Ask Question..">
                                                        <button class="btn btn-success" id="send-chat-button"><i class="fas fa-paper-plane"></i> Send</button>
                                                    </div>
                                                </div>
                                            </div>
 
                                        {% else %}
                                            <p>No Entity Found</p>
                                        {% endif %}
                                    </div>
                                   
                                    <div class="tab-pane fade" id="summary-tabs-2" role="tabpanel" aria-labelledby="summary-tab-2" style="max-height: 50em; overflow-y: scroll;">
                                        {% if summaryResponse %}
                                          <h4 class="card-title">Summary</h4>
                                          <p>{{summaryResponse.Summary}}</p>
 
                                          <h4 class="card-title">Bookmarks</h4>
                                          <ul>
                                            {% for detail in summaryResponse.Bookmarks %}
                                              <li>{{detail}}</li>
                                            {% endfor %}
                                          </ul>
 
                                          <h4 class="card-title">Required Documents Present</h4>
                                            {% for k, v in summaryResponse.required_documents_present.items %}
                                              <p><b>{{k}}: </b> {{v}}</p>
                                            {% endfor %}
                                         
                                          <h4 class="card-title">Key Details</h4>
                                            {% for k, v in summaryResponse.key_details.items %}
                                            <p><b>{{k}}: </b> {{v}}</p>
                                          {% endfor %}
 
                                          <h4 class="card-title">Consistency Check</h4>
                                            {% for k, v in summaryResponse.consistency_check.items %}
                                            <p><b>{{k}}: </b> {{v}}</p>
                                            {% endfor %}
                                        {% else %}
                                          <p>No Summary Found</p>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane fade" id="summary-tabs-3" role="tabpanel" aria-labelledby="summary-tab-3">
                                        {% if item %}
                                       
                                            <h4 class="card-title">product details</h4> File Name{{file_name}}
                                            <table class="table table-bordered" style="display:block; height: 40em !important; overflow-y:scroll">
                                                <thead>
                                                    <tr>
                                                        <th>discription</th>
                                                        <th>serial number</th>
                                                        <th>assert number</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for value in item.items %}
                                                    <tr>    
 
                                                        {% for val in value %}
                                                            <td>{{ val }}</td>
                                                            {% endfor %}
                                                    </tr>
                                                    {% endfor %}
                                                     
                                                </tbody>
                                            </table>
 
                                            <!-- Chat Section -->
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 mt-4 chatBox">
                                                    <input type="hidden" id="chatHistory" value="[]">
                                                    <div class="input-group" id="chat-section">
                                                        <input type="text" class="form-control" id="chat-input" placeholder="Ask Question..">
                                                        <button class="btn btn-success" id="send-chat-button"><i class="fas fa-paper-plane"></i> Send</button>
                                                    </div>
                                                </div>
                                            </div>
 
                                        {% else %}
                                            <p>No product Found</p>
                                        {% endif %}
                                    </div>
                                   
                                   
                                 
                                </div>
                                <!-- Tabs content -->
                            </div>
                        </div>
 
                        <!-- Document Preview -->
                        <div class="col-12 col-lg-6 col-md-6">
                            <div id="document-preview">
                                <h4 class="card-title">Document</h4>
 
                                <object class="pdf"
                                type='application/pdf'
                                data="{{ document_url }}"
                                width="100%"
                                height="700">
                                </object>
 
                            </div>
                        </div>
 
 
 
                    </div>
                    {% endif %}
                   
 
                   
 
                </div>
            </div>
        </div>
    </div>
 
</div>
 
 
<script>
    $(document).ready(function() {
        const $uploadContainer = $('#uploadContainer');
        const $fileInput = $('#upload_docs');
        const $fileNameDisplay = $('#fileName');
 
        // Open file input on container click
        $uploadContainer.on('click', function() {
            $fileInput.click();
        });
 
        // Handle file input change
        $fileInput.on('change', handleFile);
 
        // Prevent default behavior for drag-and-drop events
        $(document).on('dragenter dragover drop', function(e) {
            e.preventDefault();
        });
 
        // Handle dragover to show visual feedback
        $uploadContainer.on('dragover', function(e) {
            e.preventDefault();
            $uploadContainer.addClass('dragover');
        });
 
        // Remove visual feedback on dragleave
        $uploadContainer.on('dragleave', function() {
            $uploadContainer.removeClass('dragover');
        });
 
        // Handle drop event to get file
        $uploadContainer.on('drop', function(e) {
            e.preventDefault();
            $uploadContainer.removeClass('dragover');
            const files = e.originalEvent.dataTransfer.files;
            if (files.length > 0) {
                $fileInput[0].files = files; // Assign files to the input
                handleFile(); // Process the file
            }
        });
 
        // Handle file processing and display file name
        function handleFile() {
            const file = $fileInput[0].files[0];
            if (file) {
                $fileNameDisplay.text(`Uploaded file: ${file.name}`);
            } else {
                $fileNameDisplay.text('');
            }
        }
       
       
 
    });
</script>
 
{% endblock content %}